* {
  padding: 0 auto;
  Margin: 0 auto;
  font-family: arial;
    
}

header h1{
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: 3px 0px black;
}

header {
  background-color: #191818;
  width: 100%;
  height: 80px;
}

.headerShadow {
  background-color: #212020;
  width: 100%;
  height: 10px;   
}

.bodyShadow {
  width: 100%;
  height: 10px;   
}

table {
  border-collapse: collapse;
  width: 550px;
  border: 1px solid black;
  background-color: transparent;
  color: transparent;
}



th, td {
  border: 1px solid black;
  background-color: transparent;
  color: transparent;
  height: 170px;
  width: 200px;
}

.button-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display : flex;
  align-items : center;
  
}

body {
  background-color: #494949;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-text {
  font-size: 100px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.playertext {
    text-align: center;
    color: white;
    font-size: 60px;
    font-style: italic;
    width: 100%;
    text-shadow: 0px 2px;
}

.player-logo-X {
    font-size: 60px;
    color: #f44842;  
    float: left;
    margin-left: 55px;
    text-shadow: 0px 2px;
}

h1.player-logo-O {
    font-size: 60px;
    color: #41cdf4;  
    float: right;
    margin-right: 55px;
    text-shadow: 0px 2px;
}

h2.player-logo-text-X {
    font-size: 40px;
    color: white;
    float: left;
    text-shadow: 0px 2px;
}

h2.player-logo-text-O {
    font-size: 40px;
    color: white;
    float: right;
    text-shadow: 0px 2px;
}

.player-help-container {
    width: 30%;
}

.background {
    background-color: #332f2f;
    width: 100%;
    height: 100%;
}
